h1 {
    color: gold;
    background-color: black;
}

body {
    background-color: silver;
}

li {
    font: bold;
    font-size: 24px;
    font-family: Georgia, sans-serif;
}

img {
    height: auto;
    width: 500px;
}

p {
    font-size: 26px;
    font-family: "Times New Roman", sans-serif;
}